<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robotwars">

    <!-- All of the permissions needed for the app to work  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Use of any camera: Back, Front or External -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta data for Facebook -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fbID"/>

        <!-- Meta data needed for the GPS to work -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleAPI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Providers -->
        <provider
            android:authorities="com.example.robotwars.FileProvider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
             
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:authorities="@string/fbCP"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <!-- Activities -->

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BottomNavigationBaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RankingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".CategoriesActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TopListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ShowBigRobotActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CreditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />

        <service android:name=".GPS">

        </service>
    </application>

</manifest>